.bathroom {
  background-color: #3b3b3b;
}

.bathroom-container-full {
  display: flex;
  gap: 20px;
  flex-direction: column-reverse;
  position: relative;
}

.bathroom-container-full::before {
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: 350px 381px;
  opacity: 1;
  top: -15px;
  left: 13px;
  background-image: url("/image/address/bathroom-380.svg");
}

@media screen and (min-width: 768px) {
  .bathroom-container-full {
    gap: 10px;
    flex-direction: row-reverse;
  }

  .bathroom-container-full::before {
    background-image: url("/image/address/bathroom-768.svg");
    background-size: 288px 204px;
    top: 240px;
    left: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .bathroom-container-full {
    gap: 57px;
    flex-direction: row-reverse;
  }

  .bathroom-container-full::before {
    background-image: url("/image/address/bathroom-1024.svg");
    background-size: 406px 320px;
    top: 205px;
    left: 75px;
  }
}

@media screen and (min-width: 1440px) {
  .bathroom-container-full {
    gap: 30px;
    padding-bottom: 20px;
  }

  .bathroom-container-full::before {
    background-image: url("/image/address/bathroom-1440.svg");
    background-size: 410px 268px;
    top: 93px;
    left: 66px;
  }
}

@media screen and (min-width: 1920px) {
  .bathroom-container-full {
    gap: 80px;
    padding-bottom: 0;
  }

  .bathroom-container-full::before {
    background-image: url("/image/address/1920/bathroom.svg");
    background-size: 570px 405px;
    top: -60px;
    left: 150px;
  }
}

.bathroom-container {
  width: 276px;
}

@media screen and (min-width: 768px) {
  .bathroom-container {
    width: 398px;
  }
}

@media screen and (min-width: 1024px) {
  .bathroom-container {
    width: 444px;
  }
}

@media screen and (min-width: 1440px) {
  .bathroom-container {
    width: 813px;
  }
}

@media screen and (min-width: 1920px) {
  .bathroom-container {
    width: 922px;
  }
}

.bathroom-container-text {
  padding-top: 0;
  padding-left: 1px;
  padding-right: 1px;
}

@media screen and (min-width: 768px) {
  .bathroom-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .bathroom-container-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 35px;
  }
}

@media screen and (min-width: 1920px) {
  .bathroom-container-text {
    padding-left: 101px;
    padding-top: 0px;
  }
}

.bathroom-title {
  color: #f7f9fc;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.05ex;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: grid;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .bathroom-title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 15px;
    justify-content: start;
  }
}

@media screen and (min-width: 1024px) {
  .bathroom-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .bathroom-title {
    font-size: 50px;
    line-height: 1.32;
  }
}

@media screen and (min-width: 1920px) {
  .bathroom-title {
    width: 420px;
    margin-bottom: 30px;
  }
}

.bathroom-text {
  width: 100%;
  color: #f7f9fc;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .bathroom-text {
    width: 210px;
    line-height: 1.53;
  }
}

@media screen and (min-width: 1024px) {
  .bathroom-text {
    width: 314px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1440px) {
  .bathroom-text {
    width: 290px;
    height: 100px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1920px) {
  .bathroom-text {
    width: 410px;
  }
}

.bathroom-container-carusel {
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
}

.bathroom-container-cards {
  display: flex;
  gap: 15px;
  width: 215px;
  overflow-x: scroll;
  margin: 0 auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .bathroom-container-cards {
    width: 310px;
    gap: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .bathroom-container-cards {
    width: 360px;
  }
}

@media screen and (min-width: 1440px) {
  .bathroom-container-cards {
    width: 715px;
  }
}

@media screen and (min-width: 1920px) {
  .bathroom-container-cards {
    width: 800px;
    gap: 30px;
  }
}

.bathroom-container-cards::-webkit-scrollbar {
  display: none;
}

.bathroom-sliders {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  flex: none;
}

@media screen and (min-width: 768px) {
  .bathroom-sliders {
    gap: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .bathroom-sliders {
    gap: 15px;
  }
}

@media screen and (min-width: 1920px) {
  .bathroom-sliders {
    gap: 30px;
  }
}

.bathroom-card {
  display: block;
  user-select: none;
  position: relative;
  width: 210px;
  height: 150px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 60px 0px rgba(2, 4, 69, 0.06);
}

@media screen and (min-width: 768px) {
  .bathroom-card {
    width: 300px;
    height: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .bathroom-card {
    width: 350px;
    height: 296px;
  }
}

@media screen and (min-width: 1440px) {
  .bathroom-card {
    width: 350px;
    height: 296px;
  }
}

@media screen and (min-width: 1920px) {
  .bathroom-card {
    width: 380px;
    height: 296px;
  }
}

.bathroom-container-card-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .bathroom-container-card-img {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    gap: 0;
  }
}

@media screen and (min-width: 1024px) {
  .bathroom-container-card-img {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 0px;
  }
}

@media screen and (min-width: 1920px) {
  .bathroom-container-card-img {
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

.bathroom-furniture {
  padding-top: 15px;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .bathroom-furniture {
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .bathroom-furniture {
    padding-top: 40px;
    gap: 15px;
  }
}

.batteries {
  align-items: center;
  gap: 5px;
  padding-right: 0px;
  padding-left: 15px;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .batteries {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .batteries {
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .batteries {
    align-items: baseline;
    gap: 7px;
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media screen and (min-width: 1920px) {
  .batteries {
    padding-top: 25px;
  }
}

.ceramika {
  padding-top: 50px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .ceramika {
    padding-left: 30px;
    padding-right: 30px;
    gap: 20px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .ceramika {
    padding-top: 80px;
  }
}

.bathroom-equipment {
  padding-top: 40px;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .bathroom-equipment {
    padding-top: 50px;
    padding-left: 1px;
    padding-right: 1px;
    gap: 0;
  }
}

@media screen and (min-width: 1024px) {
  .bathroom-equipment {
    padding-top: 48px;
  }
}

.bathtubs {
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 20px;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .bathtubs {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .bathtubs {
    padding-top: 45px;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 1920px) {
  .bathtubs {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 62px;
    gap: 5px;
  }
}

.sinks {
  padding-top: 25px;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .sinks {
    padding-top: 35px;
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .sinks {
    padding-top: 48px;
  }
}

.bathroom-link-logo {
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 767px) {
  .bathroom-link-logo {
    width: 40%;
    height: auto;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .bathroom-logo {
    width: 100%;
    height: auto;
  }

  .bathroom-logo-small {
    width: 90%;
  }
}

.bathroom-container-carusel-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  background-color: #1eaf8a;
}

.bathroom-card-title {
  padding: 5px;
  text-align: center;
  color: #f7f9fc;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .bathroom-card-title {
    font-size: 24px;
    line-height: 1.25;
    padding: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .bathroom-card-title {
    font-size: 32px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 1440px) {
  .bathroom-card-title {
    font-size: 34px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1920px) {
  .bathroom-card-title {
    font-size: 35px;
    line-height: 1.39;
  }
}

.bathroom-container-carusel {
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .bathroom-container-carusel {
    padding-left: 0;
  }
}
@media (min-width: 1920px) {
  .bathroom-container-carusel {
    padding-left: 105px;
  }
}

.bathroom-container {
  width: 276px;
}
@media (min-width: 768px) {
  .bathroom-container {
    width: 398px;
  }
}
@media (min-width: 1024px) {
  .bathroom-container {
    width: 444px;
  }
}
@media (min-width: 1440px) {
  .bathroom-container {
    width: 813px;
  }
}
@media (min-width: 1920px) {
  .bathroom-container {
    width: 920px;
  }
}

.bathroom-button-left {
  top: 40%;
}
@media (min-width: 768px) {
  .bathroom-button-left {
    top: 43%;
    left: -6px;
  }
}
@media (min-width: 1024px) {
  .bathroom-button-left {
    left: -1px;
    top: 43.5%;
  }
}
@media (min-width: 1440px) {
  .bathroom-button-left {
    left: 13px;
    top: 36.5%;
  }
}
@media (min-width: 1920px) {
  .bathroom-button-left {
    left: 65px;
    top: 36.5%;
  }
}

.bathroom-button-right {
  top: 40%;
}
@media (min-width: 768px) {
  .bathroom-button-right {
    top: 43%;
    right: 2px;
  }
}
@media (min-width: 1024px) {
  .bathroom-button-right {
    right: 3px;
    top: 43.5%;
  }
}
@media (min-width: 1440px) {
  .bathroom-button-right {
    right: 17px;
    top: 36.5%;
  }
}
@media (min-width: 1920px) {
  .bathroom-button-right {
    right: 1px;
    top: 36.5%;
  }
}

.bathroom-button-left,
.bathroom-button-right {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  fill: #fff;
  z-index: 10;
  position: absolute;
}
.bathroom-button-left:hover,
.bathroom-button-right:hover {
  background-color: #c12930;
}
.bathroom-button-left:disabled,
.bathroom-button-right:disabled {
  opacity: 0.35;
  pointer-events: none;
}

@media (min-width: 768px) {
  .bathroom-button-left,
  .bathroom-button-right {
    width: 45px;
    height: 45px;
  }
}
.left-icon,
.right-icon {
  width: 20px;
  height: 20px;
  display: block;
}
@media (min-width: 768px) {
  .left-icon,
  .right-icon {
    width: 36px;
    height: 36px;
  }
}

#bathroom-splide .splide__pagination {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin-top: 10px;
}
#bathroom-splide .splide__pagination__page {
  width: 18px;
  height: 2px;
  border-radius: 2px;
  background: #bbbfc5;
  opacity: 1;
  transition: background-color 0.3s ease, transform 0.3s ease, width 0.3s ease;
}

@media (min-width: 768px) {
  #bathroom-splide .splide__pagination__page {
    width: 30px;
  }
}

@media (min-width: 1024px) {
  #bathroom-splide .splide__pagination__page {
    height: 3px;
  }
}
#bathroom-splide .splide__pagination__page.is-active {
  background: #c12930;
  transform: none;
}
#bathroom-splide .splide__pagination__page:hover {
  background: #f7f9fc;
}

#bathroom-splide .splide__pagination__page:focus-visible {
  background: #bbbfc5;
}

#bathroom-splide {
  padding-left: 34px;
  padding-right: 34px;
}
#bathroom-splide .splide__pagination {
  margin-top: 10px;
}
@media (min-width: 768px) {
  #bathroom-splide {
    padding-left: 45px;
    padding-right: 20px;
  }
  #bathroom-splide .splide__pagination {
    margin-top: 20px;
  }
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #bathroom-splide {
    padding-left: 47px;
    padding-right: 20px;
  }
  #bathroom-splide .splide__pagination {
    margin-top: 25px;
  }
}
@media (min-width: 1920px) {
  #bathroom-splide {
    padding-left: 40px;
    padding-right: 40px;
  }
  #bathroom-splide .splide__pagination {
    margin-top: 25px;
  }
}

.splide#bathroom-splide .splide__track {
  width: 210px;
  max-width: 210px;
  flex: 0 0 210px;
}
@media (min-width: 768px) {
  .splide#bathroom-splide .splide__track {
    width: 300px;
    max-width: 300px;
    flex: 0 0 300px;
  }
}
@media (min-width: 1024px) {
  .splide#bathroom-splide .splide__track {
    width: 350px;
    max-width: 350px;
    flex: 0 0 350px;
  }
}
@media (min-width: 1440px) {
  .splide#bathroom-splide .splide__track {
    width: 715px;
    max-width: 715px;
    flex: 0 0 715px;
  }
}
@media (min-width: 1920px) {
  .splide#bathroom-splide .splide__track {
    width: 820px;
    max-width: 820px;
    flex: 0 0 820px;
  }
}

.bathroom-card {
  position: relative;
  overflow: hidden;
  display: block;
  user-select: none;
  isolation: isolate;
  width: 210px;
  height: 150px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(2, 4, 69, 0.06);
}
@media (min-width: 768px) {
  .bathroom-card {
    width: 300px;
    height: 250px;
  }
}
@media (min-width: 1024px) {
  .bathroom-card {
    width: 350px;
    height: 296px;
  }
}
@media (min-width: 1920px) {
  .bathroom-card {
    width: 380px;
    height: 296px;
  }
}

.bathroom-container-card-img {
  --cols: 2;
  --gap: 8px;
  --cell-h: 56px;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: var(--gap);
  align-items: center;
  justify-items: center;
  overflow: hidden;
  height: calc(100% - 46px);
}
@media (min-width: 768px) {
  .bathroom-container-card-img {
    --gap: 0px;
    height: calc(100% - 80px);
  }
}
@media (min-width: 1024px) {
  .bathroom-container-card-img {
    height: calc(100% - 100px);
  }
}
@media (min-width: 1440px) {
  .bathroom-container-card-img {
    --gap: 12px;
  }
}

.bathroom-link-logo {
  width: 100%;
  height: var(--cell-h);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 4px;
}

.splide__pagination.splide__pagination--ltr {
  margin-right: 0;
}

@media (min-width: 768px) {
  #bathroom-splide .splide__pagination.splide__pagination--ltr {
    margin-right: 10px;
  }
}

@media (min-width: 1920px) {
  #bathroom-splide .splide__pagination.splide__pagination--ltr {
    margin-right: 45px;
  }
}

@media (max-width: 767px) {
  .bathroom-container-card-img {
    --gap: 0px;
    --cell-h: 34px;
    padding: 6px 10px 6px;
  }
}

.bathroom-link-logo {
  height: var(--cell-h);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
}

.bathroom-logo {
  max-height: calc(var(--cell-h) - 4px);
  max-width: 90%;
  width: auto;
  height: auto;
  object-fit: contain;
  object-position: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .bathroom-container-card-img {
    --cell-h: 48px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .bathroom-container-card-img {
    --cell-h: 60px;
  }
}
@media (min-width: 1440px) {
  .bathroom-container-card-img {
    --cell-h: 66px;
  }
}

img.bathroom-logo[style] {
  width: auto !important;
  height: auto !important;
  max-height: calc(var(--cell-h) - 4px) !important;
  max-width: 90% !important;
  object-fit: contain !important;
}
