.company {
  background-color: #f7f9fc;
  position: relative;
}

.company-title {
  color: #3b3b3b;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.05ex;
  text-transform: uppercase;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .company-title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .company-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .company-title {
    font-size: 50px;
    line-height: 1.32;
    margin-bottom: 30px;
  }
}

.company-full-container {
  position: relative;
}

.company-full-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: 365px 660px;
  opacity: 1;
  top: -3px;
  left: 2px;
  background-image: url("/image/address/company-380.svg");
}

@media screen and (min-width: 768px) {
  .company-full-container::before {
    background-image: url("/image/address/company-768.svg");
    background-size: 684px 569px;
    top: 10px;
    left: 20px;
  }
  .company-full-container {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .company-full-container::before {
    background-image: url("/image/address/company-1024.svg");
    background-size: 867px 567px;
    top: 10px;
    left: 50px;
  }
  .company-full-container {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .company-full-container::before {
    background-image: url("/image/address/company-1440.svg");
    background-size: 1312px 396px;
    top: 20px;
    left: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .company-full-container::before {
    background-image: url("/image/address/1920/company.svg");
    background-size: 1611px 416px;
    top: 20px;
    left: 130px;
  }
}

.company-container {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .company-container {
    padding-left: 53px;
    padding-right: 53px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .company-container {
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1920px) {
  .company-container {
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 80px;
  }
}

.company-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .company-list {
    flex-direction: row;
    gap: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .company-list {
    gap: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .company-list {
    gap: 21px;
  }
}

@media screen and (min-width: 1920px) {
  .company-list {
    gap: 121px;
  }
}

.company-item {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .company-item {
    gap: 10px;
  }
}

.company-icon {
  align-self: center;
  width: 78px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .company-icon {
    width: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .company-icon {
    width: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .company-icon {
    width: 140px;
  }
}

.company-title-item {
  color: #3b3b3b;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .company-title-item {
    font-size: 13px;
    line-height: 1.54;
  }
}

@media screen and (min-width: 1024px) {
  .company-title-item {
    font-size: 16px;
    line-height: 1.44;
  }
}

@media screen and (min-width: 1440px) {
  .company-title-item {
    font-size: 20px;
    line-height: 1.5;
  }
}

.company-text {
  width: 100%;
  color: #3b3b3b;
  line-height: 1.2;
  font-size: 16px;
  min-height: 69px;
  height: 69px;
}

@media screen and (min-width: 768px) {
  .company-text {
    width: 265px;
    line-height: 1.53;
    min-height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .company-text {
    width: 332px;
    line-height: 1.15;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .company-text {
    height: 70px;
  }
}

@media screen and (min-width: 1440px) {
  .company-text {
    width: 371px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1920px) {
  .company-text {
    width: 390px;
  }
}
