.header-container {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 6px 30px -9px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header-container {
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  .header-container {
    gap: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 15px;
  }
}

@media screen and (min-width: 1920px) {
  .header-container {
    gap: 20px;
    padding-left: 2%;
    padding-right: 2%;
  }
}

.nav {
  display: flex;
  gap: 70px;
}

@media screen and (min-width: 768px) {
  .nav {
    gap: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    gap: 10px;
  }
}

@media screen and (min-width: 1920px) {
  .nav {
    gap: 100px;
  }
}

.header-logo-icon {
  padding-top: 5%;
  width: 50%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .header-logo-icon {
    width: 78%;
  }
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .menu {
    flex-wrap: wrap;
    width: 300px;
    height: 44px;
    gap: 5px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .menu {
    flex-wrap: wrap;
    width: 400px;
    gap: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

@media screen and (min-width: 1440px) {
  .menu {
    gap: 15px;
  }
}

@media screen and (min-width: 1920px) {
  .menu {
    gap: 40px;
  }
}

.menu .menu-item {
  position: relative;
}

.menu .menu-link {
  padding: 5px 0;
  display: inline-block;
  transition: color 0.3s ease;
}

.menu .menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #c12930;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.menu .menu-link:hover::after {
  transform: scaleX(1);
}

.menu .menu-link-company::after {
  background-color: #1eaf8a;
}

.menu-link,
.menu-link-price {
  color: #f7f9fc;
  font-size: 10px;
  font-weight: 600;
  line-height: 1, 12;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .menu-link,
  .menu-link-price {
    font-size: 13px;
    line-height: 1, 15;
  }
}

@media screen and (min-width: 1024px) {
  .menu-link,
  .menu-link-price {
    font-size: 16px;
    line-height: 1, 25;
  }
}

@media screen and (min-width: 1440px) {
  .menu-link,
  .menu-link-price {
    line-height: 1, 27;
  }
}

@media screen and (min-width: 1920px) {
  .menu-link,
  .menu-link-price {
    font-size: 20px;
    line-height: 1, 38;
  }
}

.header-address {
  display: flex;
}

.header-container-address {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-container-address {
    gap: 5px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .header-container-address {
    gap: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container-address {
    gap: 20px;
  }
}

.header-addess-list {
  display: flex;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .header-addess-list {
    gap: 9px;
  }
}

@media screen and (min-width: 1024px) {
  .header-addess-list {
    gap: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .header-addess-list {
    gap: 20px;
  }
}

.header-addess-icon {
  fill: #1eaf8a;
  transition: fill 0.3s ease;
  width: 22px;
  height: 22px;
}

@media screen and (min-width: 768px) {
  .header-addess-icon {
    width: 27px;
    height: 27px;
  }
}

@media screen and (min-width: 1024px) {
  .header-addess-icon {
    width: 31px;
    height: 31px;
  }
}

.header-addess-icon:hover,
.header-addess-icon:focus {
  fill: #c12930;
}

.address-link {
  color: #f7f9fc;
  line-height: 1.25;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  transition: color 0.3s ease;
  font-variant: all-small-caps;
  letter-spacing: 0.05em;
  display: none;
  padding-bottom: 5px;
}

@media screen and (min-width: 1024px) {
  .address-link {
    font-size: 20px;
    line-height: 1.25;
    display: block;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .address-link {
    width: 131px;
  }
}

.address-link:hover,
.address-link:focus {
  color: #c12930;
}

.menu-link-price {
  background-color: transparent;
  border: none;
  color: #1eaf8a;
}

.menu-link-price:hover {
  color: #1eaf8a;
}

.nav {
  position: relative;
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  top: 10px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-mobile div {
  width: 25px;
  border-radius: 60px;
  height: 2px;
  background-color: white;
  margin: 2px 0;
  transition: all 0.3s ease;
  position: absolute;
}

.menu-mobile div:nth-child(1) {
  top: 0;
}

.menu-mobile div:nth-child(2) {
  top: 10px;
}

.menu-mobile div:nth-child(3) {
  top: 20px;
}

.menu-mobile.active div:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-mobile.active div:nth-child(2) {
  opacity: 0;
}

.menu-mobile.active div:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.menu-mobile:hover div {
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}

.nav {
  position: relative;
}

.lang-list {
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.item-lang {
  font-size: 10px;
  color: #f7f9fc;
  font-family: "Work Sans";
  font-size: 10px;
  font-style: normal;
}

.image-icon-lang {
  width: 15px;
  gap: 15px;
}

@media screen and (min-width: 768px) {
  .image-icon-lang {
    width: 20px;
    gap: 20px;
  }
}
