.hidden {
  display: none;
}

.heating {
  background-color: #3b3b3b;
  padding-top: 40px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .heating {
    padding-top: 47px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .heating {
    padding-top: 45px;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .heating {
    padding-top: 54px;
  }
}

.heating-container-full {
  display: flex;
  gap: 20px;
  flex-direction: column-reverse;
  position: relative;
}

.heating-container-full::before {
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: 350px 441px;
  opacity: 1;
  top: -20px;
  left: 10px;
  background-image: url("/image/address/heating-380.svg");
}

@media screen and (min-width: 768px) {
  .heating-container-full {
    gap: 36px;
    flex-direction: row-reverse;
  }
  .heating-container-full::before {
    background-image: url("/image/address/heating-768.svg");
    background-size: 288px 204px;
    top: 235px;
    left: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .heating-container-full {
    gap: 57px;
  }

  .heating-container-full::before {
    background-image: url("/image/address/heating-1024.svg");
    background-size: 406px 320px;
    top: 210px;
    left: 70px;
  }
}

@media screen and (min-width: 1440px) {
  .heating-container-full {
    gap: 30px;
  }

  .heating-container-full::before {
    background-image: url("/image/address/heating-1440.svg");
    background-size: 410px 268px;
    top: 260px;
  }
}

@media screen and (min-width: 1920px) {
  .heating-container-full {
    gap: 80px;
  }
  .heating-container-full::before {
    background-image: url("/image/address/1920/heating.svg");
    background-size: 569px 448px;
    top: 170px;
    left: 150px;
  }
}

.heating-container-text {
  padding-top: 0;
  padding-left: 1px;
  padding-right: 1px;
}

@media screen and (min-width: 768px) {
  .heating-container-text {
    padding-top: 178px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .heating-container-text {
    padding-top: 215px;
  }
}

@media screen and (min-width: 1440px) {
  .heating-container-text {
    padding-top: 188px;
  }
}

@media screen and (min-width: 1920px) {
  .heating-container-text {
    padding-top: 202px;
    padding-left: 105px;
  }
}

.heating-title {
  color: #f7f9fc;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.05ex;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: grid;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .heating-title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 15px;
    justify-content: start;
  }
}

@media screen and (min-width: 1024px) {
  .heating-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .heating-title {
    font-size: 50px;
    line-height: 1.32;
  }
}

@media screen and (min-width: 1920px) {
  .heating-title {
    margin-bottom: 30px;
  }
}

.heating-text {
  width: 100%;
  color: #f7f9fc;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .heating-text {
    width: 210px;
    line-height: 1.53;
  }
}

@media screen and (min-width: 1024px) {
  .heating-text {
    width: 314px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1440px) {
  .heating-text {
    width: 359px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1920px) {
  .heating-text {
    width: 410px;
  }
}

.heating-container-carusel {
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
}

.button-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 13px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: background-color 1s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (min-width: 768px) {
  .button-left {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .button-left {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1920px) {
  .button-left {
    width: 60px;
    height: 60px;
  }
}

.left-icon {
  display: none;
}

@media screen and (min-width: 1024px) {
  .left-icon {
    display: inline-block;
    fill: #f7f9fc;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .left-icon {
    width: 50px;
    height: 50px;
  }
}

.button-left:hover {
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .button-left:hover {
    background-color: #c12930;
  }
}

.button-left:active {
  background-color: transparent;
}

.button-left:focus {
  background-color: transparent;
}

.button-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 9px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: background-color 1s ease;
  color: #f7f9fc;
  font-size: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (min-width: 768px) {
  .button-right {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .button-right {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1920px) {
  .button-right {
    width: 60px;
    height: 60px;
  }
}

.icon-left-mobile {
  width: 30px;
  height: 30px;
  transition: color 1s ease;
  color: #f7f9fc;
  font-size: 20px;
}

@media screen and (min-width: 1024px) {
  .icon-left-mobile {
    display: none;
  }
}

.icon-right-mobile {
  width: 30px;
  height: 30px;
  transition: color 1s ease;
  color: #f7f9fc;
  font-size: 20px;
}

.icon-right-mobile:hover,
.icon-left-mobile:hover,
.icon-right-mobile:focus,
.icon-left-mobile:focus {
  color: #c12930;
}

@media screen and (min-width: 1024px) {
  .icon-right-mobile-n {
    display: none;
  }
}

.right-icon {
  display: none;
}

@media screen and (min-width: 1024px) {
  .right-icon {
    fill: #f7f9fc;
    display: inline-block;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .right-icon {
    width: 50px;
    height: 50px;
  }
}

.button-right:hover {
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .button-right:hover {
    background-color: #c12930;
  }
}

@media screen and (min-width: 768px) {
  .button-right:active,
  .button-right:focus {
    background-color: transparent;
  }
}

.heating-container-cards {
  display: flex;
  gap: 15px;
  width: 210px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .heating-container-cards {
    width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .heating-container-cards {
    width: 350px;
  }
}

@media screen and (min-width: 1440px) {
  .heating-container-cards {
    width: 715px;
  }
}

@media screen and (min-width: 1920px) {
  .heating-container-cards {
    width: 790px;
    gap: 30px;
  }
}

.heating-container-cards::-webkit-scrollbar {
  display: none;
}

.heating-sliders {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px 15px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  flex: none;
}

@media screen and (min-width: 768px) {
  .heating-sliders {
    gap: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .heating-sliders {
    gap: 15px;
  }
}

@media screen and (min-width: 1920px) {
  .heating-sliders {
    gap: 30px;
  }
}

.heating-card {
  display: block;
  user-select: none;
  position: relative;
  width: 210px;
  height: 150px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 60px 0px rgba(2, 4, 69, 0.06);
}

@media screen and (min-width: 768px) {
  .heating-card {
    width: 300px;
    height: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .heating-card {
    width: 350px;
    height: 296px;
  }
}

@media screen and (min-width: 1920px) {
  .heating-card {
    width: 380px;
    height: 296px;
  }
}

.heating-link-logo {
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 767px) {
  .heating-link-logo {
    width: 30%;
    height: auto;
  }
}

.heating-container-card-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (min-width: 768px) {
  .heating-container-card-img {
    gap: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .heating-container-card-img {
    gap: 0px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .heating-container-card-img {
    gap: 14px;
  }
}

@media screen and (min-width: 1920px) {
  .heating-container-card-img {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.heating-container-carusel-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  background-color: #1eaf8a;
}

.heating-card-title {
  padding: 5px;
  text-align: center;
  color: #f7f9fc;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .heating-card-title {
    font-size: 24px;
    line-height: 1.25;
    padding: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .heating-card-title {
    font-size: 32px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 1440px) {
  .heating-card-title {
    font-size: 34px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1920px) {
  .heating-card-title {
    font-size: 34px;
    line-height: 1.39;
  }
}

.heating-container-carusel {
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .heating-container-carusel {
    padding-left: 0;
  }
}
@media (min-width: 1920px) {
  .heating-container-carusel {
    padding-left: 105px;
  }
}

.heating-container {
  width: 276px;
}
@media (min-width: 768px) {
  .heating-container {
    width: 398px;
  }
}
@media (min-width: 1024px) {
  .heating-container {
    width: 444px;
  }
}
@media (min-width: 1440px) {
  .heating-container {
    width: 813px;
  }
}
@media (min-width: 1920px) {
  .heating-container {
    width: 920px;
  }
}

.heating-button-left {
  top: 39.5%;
}
@media (min-width: 768px) {
  .heating-button-left {
    top: 43%;
    left: 0;
  }
}
@media (min-width: 1024px) {
  .heating-button-left {
    left: 0px;
    top: 43.5%;
  }
}
@media (min-width: 1440px) {
  .heating-button-left {
    left: -15px;
    top: 43.5%;
  }
}
@media (min-width: 1920px) {
  .heating-button-left {
    left: 70px;
    top: 43%;
  }
}

.heating-button-right {
  top: 39.5%;
}
@media (min-width: 768px) {
  .heating-button-right {
    top: 43%;
    right: -12px;
  }
}
@media (min-width: 1024px) {
  .heating-button-right {
    right: 4px;
    top: 43.5%;
  }
}
@media (min-width: 1440px) {
  .heating-button-right {
    right: -8px;
    top: 43.5%;
  }
}
@media (min-width: 1920px) {
  .heating-button-right {
    right: 5px;
    top: 43%;
  }
}

.heating-button-left,
.heating-button-right {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: opacity 1s ease, background-color 1s ease;
  fill: #fff;
  z-index: 10;
  position: absolute;
}
.heating-button-left:hover,
.heating-button-right:hover {
  background-color: #c12930;
}
.heating-button-left:disabled,
.heating-button-right:disabled {
  opacity: 0.35;
  pointer-events: none;
}

@media (min-width: 768px) {
  .heating-button-left,
  .heating-button-right {
    width: 45px;
    height: 45px;
  }
}
.left-icon,
.right-icon {
  width: 20px;
  height: 20px;
  display: block;
}
@media (min-width: 768px) {
  .left-icon,
  .right-icon {
    width: 36px;
    height: 36px;
  }
}

#heating-splide .splide__pagination {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  margin-top: 0;
}

#heating-splide .splide__pagination__page {
  width: 17px;
  height: 2px;
  border-radius: 2px;
  background: #bbbfc5;
  opacity: 1;
  transition: background-color 1s ease, transform 1s ease, width 1s ease;
}

@media screen and (min-width: 768px) {
  #heating-splide .splide__pagination {
    gap: 2px;
  }

  #heating-splide .splide__pagination__page {
    width: 30px;
  }
}

@media (min-width: 1024px) {
  #heating-splide .splide__pagination__page {
    height: 3px;
  }
}
#heating-splide .splide__pagination__page.is-active {
  background: #c12930;
  transform: none;
}
#heating-splide .splide__pagination__page:hover,
#heating-splide .splide__pagination__page:focus-visible {
  background: #bbbfc5;
}

#heating-splide {
  padding-left: 34px;
  padding-right: 34px;
}
#heating-splide .splide__pagination {
  margin-top: 10px;
}
@media (min-width: 768px) {
  #heating-splide {
    padding-left: 55px;
    padding-right: 23px;
  }
  #heating-splide .splide__pagination {
    margin-top: 20px;
  }
}
@media (min-width: 1024px) {
  #heating-splide {
    padding-left: 42px;
    padding-right: 23px;
  }
  #heating-splide .splide__pagination {
    margin-top: 20px;
  }
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #heating-splide {
    padding-left: 45px;
    padding-right: 47px;
  }
  #heating-splide .splide__pagination {
    margin-top: 0px;
  }
}
@media (min-width: 1920px) {
  #heating-splide {
    padding-left: 45px;
    padding-right: 40px;
  }
  #heating-splide .splide__pagination {
    margin-top: 25px;
  }
}

.splide#heating-splide .splide__track {
  width: 210px;
  max-width: 210px;
  flex: 0 0 210px;
}
@media (min-width: 768px) {
  .splide#heating-splide .splide__track {
    width: 300px;
    max-width: 300px;
    flex: 0 0 300px;
  }
}
@media (min-width: 1024px) {
  .splide#heating-splide .splide__track {
    width: 350px;
    max-width: 350px;
    flex: 0 0 350px;
  }
}
@media (min-width: 1440px) {
  .splide#heating-splide .splide__track {
    width: 715px;
    max-width: 715px;
    flex: 0 0 715px;
    height: 607px;
  }
}
@media (min-width: 1920px) {
  .splide#heating-splide .splide__track {
    width: 820px;
    max-width: 820px;
    flex: 0 0 820px;
  }
}

.heating-card {
  position: relative;
  overflow: hidden;
  display: block;
  user-select: none;
  isolation: isolate;
  width: 210px;
  height: 150px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(2, 4, 69, 0.06);
}
@media (min-width: 768px) {
  .heating-card {
    width: 300px;
    height: 250px;
  }
}
@media (min-width: 1024px) {
  .heating-card {
    width: 350px;
    height: 296px;
  }
}
@media (min-width: 1920px) {
  .heating-card {
    width: 380px;
    height: 296px;
  }
}

.heating-container-card-img {
  --cols: 2;
  --gap: 0px;
  --cell-h: 56px;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: var(--gap);
  align-items: center;
  justify-items: center;
  overflow: hidden;
  height: calc(100% - 40px);
}
@media (min-width: 768px) {
  .heating-container-card-img {
    --gap: 0px;
    height: calc(100% - 60px);
  }
}
@media (min-width: 1024px) {
  .heating-container-card-img {
    --gap: 0px;
    height: calc(100% - 80px);
  }
}
@media (min-width: 1440px) {
  .heating-container-card-img {
    --gap: 12px;
  }
}

.heating-link-logo {
  width: 100%;
  height: var(--cell-h);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 4px;
}
.heating-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.splide__pagination.splide__pagination--ltr {
  margin-right: 0;
}

@media (min-width: 768px) {
  #heating-splide .splide__pagination.splide__pagination--ltr {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  #heating-splide .splide__pagination.splide__pagination--ltr {
    margin-right: 25px;
  }
}

@media (min-width: 1440px) {
  #heating-splide .splide__pagination.splide__pagination--ltr {
    margin-right: 3px;
  }
}

@media (min-width: 1920px) {
  #heating-splide .splide__pagination.splide__pagination--ltr {
    margin-right: 45px;
  }
}

.heating-logo {
  width: 100%;
}

@media (max-width: 767px) {
  .heating-container-card-img {
    --gap: 0px;
    --cell-h: 34px;
    padding: 6px 10px 6px;
  }
}

.heating-link-logo {
  height: var(--cell-h);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
}

.heating-logo {
  max-height: calc(var(--cell-h) - 4px);
  max-width: 90%;
  width: auto;
  height: auto;
  object-fit: contain;
  object-position: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .heating-container-card-img {
    --cell-h: 48px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .heating-container-card-img {
    --cell-h: 60px;
  }
}
@media (min-width: 1440px) {
  .heating-container-card-img {
    --cell-h: 66px;
  }
}

img.heating-logo[style] {
  width: auto !important;
  height: auto !important;
  max-height: calc(var(--cell-h) - 4px) !important;
  max-width: 90% !important;
  object-fit: contain !important;
}

@media (min-width: 1440px) {
  :root {
    --track-width-desktop: 730px;
    --track-height-desktop: 622px;
  }

  .splide#heating-splide .splide__track,
  .splide#plumbing-splide .splide__track {
    width: var(--track-width-desktop);
    max-width: var(--track-width-desktop);
    flex: 0 0 var(--track-width-desktop);
    height: var(--track-height-desktop);
  }
}

@media (min-width: 1920px) {
  :root {
    --track-width-desktop: 790px;
    --track-height-desktop: 622px;
  }

  .splide#heating-splide .splide__track,
  .splide#plumbing-splide .splide__track {
    width: var(--track-width-desktop);
    max-width: var(--track-width-desktop);
    flex: 0 0 var(--track-width-desktop);
    height: var(--track-height-desktop);
  }
}

.splide__slide.is-active.is-visible {
  margin-right: 1px;
}

#heating-splide {
  padding-left: 35px;
}

@media screen and (min-width: 768px) {
  #heating-splide {
    padding-left: 55px;
  }
}

@media screen and (min-width: 1024px) {
  #heating-splide {
    padding-left: 45px;
  }
}
