.plumbing {
  background-color: #3b3b3b;
}

.plumbing-container {
  display: flex;
  gap: 18px;
}

@media screen and (min-width: 768px) {
  .plumbing-container {
    gap: 10px;
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .plumbing-container {
    gap: 45px;
  }
}

@media screen and (min-width: 1440px) {
  .plumbing-container {
    gap: 42px;
  }
}

@media screen and (min-width: 1920px) {
  .plumbing-container {
    gap: 80px;
  }
}

.plumbing-container-full {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  position: relative;
}

.plumbing-container-full::before {
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: 350px 433px;
  opacity: 1;
  top: -20px;
  left: 10px;
  background-image: url("/image/address/plumbing-380.svg");
}

@media screen and (min-width: 768px) {
  .plumbing-container-full {
    flex-direction: row;
    gap: 36px;
  }
  .plumbing-container-full::before {
    background-image: url("/image/address/plumbing-768.svg");
    background-size: 288px 204px;
    top: 220px;
    left: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .plumbing-container-full::before {
    background-image: url("/image/address/plumbing-1024.svg");
    background-size: 406px 320px;
    top: 210px;
    left: 520px;
  }
}

@media screen and (min-width: 1440px) {
  .plumbing-container-full::before {
    background-image: url("/image/address/plumbing-1440.svg");
    background-size: 468px 272px;
    top: 280px;
    left: 950px;
  }
}

@media screen and (min-width: 1920px) {
  .plumbing-container-full::before {
    background-image: url("/image/address/1920/plumbing.svg");
    background-size: 569px 448px;
    top: 200px;
    left: 1180px;
  }
  .plumbing-container-full {
    gap: 100px;
  }
}

.plumbing-container-carusel {
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
}

.plumbing-button-left {
  top: 39.5%;
  left: 12px;
}

@media screen and (min-width: 768px) {
  .plumbing-button-left {
    left: -13px;
    top: 43.5%;
  }
}

@media screen and (min-width: 1024px) {
  .plumbing-button-left {
    top: 44%;
    left: -10px;
  }
}

@media screen and (min-width: 1440px) {
  .plumbing-button-left {
    left: -15px;
  }
}

@media screen and (min-width: 1920px) {
  .plumbing-button-left {
    left: 65px;
    top: 43.5%;
  }
}

.plumbing-container-cards {
  display: flex;
  gap: 15px;
  width: 210px;
  height: 310px;
  overflow-x: scroll;
  margin: 0 auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.plumbing-container-cards::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .plumbing-container-cards {
    width: 300px;
    height: 515px;
    gap: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .plumbing-container-cards {
    width: 350px;
    height: 615px;
  }
}

@media screen and (min-width: 1440px) {
  .plumbing-container-cards {
    width: 715px;
  }
}

@media screen and (min-width: 1920px) {
  .plumbing-container-cards {
    width: 790px;
    gap: 30px;
    height: 625px;
  }
}

.plumbing-sliders {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px 15px;
  margin-bottom: 30px;
  flex: none;
}

@media screen and (min-width: 768px) {
  .plumbing-sliders {
    gap: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .plumbing-sliders {
    gap: 15px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1920px) {
  .plumbing-sliders {
    width: 100%;
    gap: 30px;
  }
}

.plumbing-card {
  display: block;
  user-select: none;
  position: relative;
  width: 210px;
  height: 150px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 60px 0px rgba(2, 4, 69, 0.06);
}

@media screen and (min-width: 768px) {
  .plumbing-card {
    width: 300px;
    height: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .plumbing-card {
    width: 350px;
    height: 296px;
  }
}

@media screen and (min-width: 1920px) {
  .plumbing-card {
    width: 380px;
    height: 296px;
  }
}

.plumbing-link-logo {
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 767px) {
  .plumbing-link-logo {
    width: 40%;
    height: auto;
  }
}

.plumbing-container-card-img {
  gap: 8px;
  padding-top: 10px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .plumbing-container-card-img {
    gap: 10px;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .plumbing-container-card-img {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (min-width: 1920px) {
  .plumbing-container-card-img {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.installation {
  padding-top: 45px;
  gap: 10px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .installation {
    padding-top: 30px;
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .installation {
    padding-top: 45px;
    gap: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .installation {
    padding-top: 53px;
  }
}

.armature {
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
  padding-top: 15px;
}

@media screen and (min-width: 768px) {
  .armature {
    padding-top: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .armature {
    gap: 20px;
    padding-top: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .armature {
    gap: 5px;
    padding-top: 60px;
    padding-bottom: 56px;
  }
}

.installation-miedzowe {
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 20px;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .installation-miedzowe {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .installation-miedzowe {
    padding-top: 45px;
  }
}

@media screen and (min-width: 1920px) {
  .installation-miedzowe {
    padding-left: 88px;
    padding-right: 88px;
    padding-top: 38px;
  }
}

.threaded-installations {
  gap: 0;
  padding-top: 15px;
}

@media screen and (min-width: 768px) {
  .threaded-installations {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .threaded-installations {
    padding-top: 25px;
  }
}

.treatment-plants {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 768px) {
  .treatment-plants {
    padding-top: 45px;
    padding-left: 135px;
    padding-right: 135px;
  }
}

@media screen and (min-width: 1024px) {
  .treatment-plants {
    padding-top: 65px;
  }
}

@media screen and (min-width: 1920px) {
  .treatment-plants {
    padding-top: 56px;
    padding-bottom: 55px;
  }
}

.pex {
  padding: 30px;
  gap: 18px;
}

@media screen and (min-width: 768px) {
  .pex {
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .pex {
    padding: 46px;
    gap: 18px;
  }
}

@media screen and (min-width: 1920px) {
  .pex {
    padding: 43px;
    gap: 23px;
  }
}

.steel-installations {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .steel-installations {
    padding-top: 70px;
  }
}

@media screen and (min-width: 1440px) {
  .steel-installations {
    padding-top: 70px;
  }
}

@media screen and (min-width: 1920px) {
  .steel-installations {
    padding-top: 62px;
  }
}

.plane-heating {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .plane-heating {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    gap: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .plane-heating {
    padding-top: 33px;
    gap: 5px;
  }
}

@media screen and (min-width: 1440px) {
  .plane-heating {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 1920px) {
  .plane-heating {
    padding-left: 53px;
    padding-right: 53px;
  }
}

.system-zg {
  padding-top: 10px;
}

@media screen and (min-width: 1024px) {
  .system-zg {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .system-zg {
    padding-top: 30px;
  }
}

.fixing-systems {
  padding-top: 35px;
}

@media screen and (min-width: 768px) {
  .fixing-systems {
    padding-top: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .fixing-systems {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1920px) {
  .fixing-systems {
    padding-top: 54px;
  }
}

.welded-systems {
  padding-top: 35px;
  padding-bottom: 58px;
}

@media screen and (min-width: 768px) {
  .welded-systems {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .welded-systems {
    padding-top: 30px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .plumbing-logo {
    width: 100%;
    height: auto;
  }

  .plumbing-logo-small {
    width: 85%;
  }
}

.plumbing-container-carusel-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  background-color: #1eaf8a;
}

.plumbing-card-title {
  padding: 5px;
  text-align: center;
  color: #f7f9fc;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .plumbing-card-title {
    font-size: 24px;
    line-height: 1.25;
    padding: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .plumbing-card-title {
    font-size: 32px;
    line-height: 1.56;
  }
}

@media screen and (min-width: 1440px) {
  .plumbing-card-title {
    font-size: 34px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 1920px) {
  .plumbing-card-title {
    font-size: 35px;
    line-height: 1.39;
  }
}

.plumbing-pagination {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .plumbing-pagination {
    gap: 12px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .plumbing-pagination {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .plumbing-pagination {
    margin-top: 30px;
  }
}

.plumbing-dot {
  width: 18px;
  height: 1px;
  background-color: #f7f9fc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

@media screen and (min-width: 768px) {
  .plumbing-dot {
    width: 30px;
    height: 3px;
  }
}

.plumbing-dot-active {
  background-color: #c12930;
  transform: scale(1.2);
}
.plumbing-container-text {
  padding-top: 0;
  padding-left: 16px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .plumbing-container-text {
    padding-top: 145px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .plumbing-container-text {
    padding-top: 200px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .plumbing-container-text {
    padding-top: 182px;
  }
}

@media screen and (min-width: 1920px) {
  .plumbing-container-text {
    padding-top: 190px;
    padding-right: 100px;
  }
}

.plumbing-title {
  color: #f7f9fc;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.05ex;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .plumbing-title {
    align-items: start;
    justify-content: start;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .plumbing-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .plumbing-title {
    width: 250px;
    font-size: 50px;
    line-height: 1.32;
  }
}

@media screen and (min-width: 1920px) {
  .plumbing-title {
    margin-bottom: 30px;
  }
}

.plumbing-text {
  width: 100%;
  color: #f7f9fc;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .plumbing-text {
    width: 220px;
    line-height: 1.53;
  }
}

@media screen and (min-width: 1024px) {
  .plumbing-text {
    width: 314px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1440px) {
  .plumbing-text {
    width: 359px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1920px) {
  .plumbing-text {
    width: 410px;
  }
}

.plumbing-container-carusel {
  display: grid;
  justify-content: center;
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .plumbing-container-carusel {
    padding-left: 0;
  }
}
@media (min-width: 1920px) {
  .plumbing-container-carusel {
    padding-left: 105px;
  }
}

.plumbing-container {
  width: 276px;
}
@media (min-width: 768px) {
  .plumbing-container {
    width: 398px;
  }
}
@media (min-width: 1024px) {
  .plumbing-container {
    width: 444px;
  }
}
@media (min-width: 1440px) {
  .plumbing-container {
    width: 813px;
  }
}
@media (min-width: 1920px) {
  .plumbing-container {
    width: 920px;
  }
}

.plumbing-button-right {
  top: 39.5%;
  right: 10px;
}
@media (min-width: 768px) {
  .plumbing-button-right {
    top: 43.5%;
    right: 1px;
  }
}
@media (min-width: 1024px) {
  .plumbing-button-right {
    right: 0;
    top: 44%;
  }
}
@media (min-width: 1440px) {
  .plumbing-button-right {
    right: -11px;
    top: 43.5%;
  }
}
@media (min-width: 1920px) {
  .plumbing-button-right {
    right: 10px;
    top: 43.5%;
  }
}

.plumbing-button-left,
.plumbing-button-right {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  fill: #fff;
  z-index: 10;
  position: absolute;
}
.plumbing-button-left:hover,
.plumbing-button-right:hover {
  background-color: #c12930;
}
.plumbing-button-left:disabled,
.plumbing-button-right:disabled {
  opacity: 0.35;
  pointer-events: none;
}

@media (min-width: 768px) {
  .plumbing-button-left,
  .plumbing-button-right {
    width: 45px;
    height: 45px;
  }
}
.left-icon,
.right-icon {
  width: 20px;
  height: 20px;
  display: block;
}
@media (min-width: 768px) {
  .left-icon,
  .right-icon {
    width: 36px;
    height: 36px;
  }
}

.plumbing-card {
  position: relative;
  overflow: hidden;
  display: block;
  user-select: none;
  isolation: isolate;
  width: 210px;
  height: 150px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(2, 4, 69, 0.06);
}
@media (min-width: 768px) {
  .plumbing-card {
    width: 300px;
    height: 250px;
  }
}
@media (min-width: 1024px) {
  .plumbing-card {
    width: 350px;
    height: 296px;
  }
}
@media (min-width: 1920px) {
  .plumbing-card {
    width: 380px;
    height: 296px;
  }
}

.plumbing-container-card-img {
  --cols: 2;
  --gap: 0px;
  --cell-h: 56px;

  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: var(--gap);
  align-items: center;
  justify-items: center;
  overflow: hidden;
  height: calc(100% - 46px);
}
@media (min-width: 768px) {
  .plumbing-container-card-img {
    --gap: 0px;
    height: calc(100% - 75px);
  }
}

@media (min-width: 1024px) {
  .plumbing-container-card-img {
    --gap: 0px;
    height: calc(100% - 120px);
  }
}

@media (min-width: 1440px) {
  .plumbing-container-card-img {
    --gap: 10px;
  }
}

.plumbing-link-logo {
  width: 100%;
  height: var(--cell-h);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 4px;
}

#plumbing-splide .splide__pagination {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin-top: 10px;
}

#plumbing-splide .splide__pagination__page {
  width: 18px;
  height: 2px;
  border-radius: 2px;
  background: #bbbfc5;
  opacity: 1;
  transition: background-color 0.3s ease, transform 0.3s ease, width 0.3s ease;
}

@media (min-width: 1440px) {
  #plumbing-splide .splide__pagination {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  #plumbing-splide .splide__pagination__page {
    width: 30px;
  }
}

@media (min-width: 1024px) {
  #plumbing-splide .splide__pagination__page {
    height: 3px;
    width: 30px;
  }
}
#plumbing-splide .splide__pagination__page.is-active {
  background: #c12930;
  transform: none;
}

#plumbing-splide {
  padding-left: 34px;
  padding-right: 34px;
}
@media (min-width: 768px) {
  #plumbing-splide {
    padding-left: 42px;
    padding-right: 42px;
  }
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #plumbing-splide {
    padding-left: 45px;
    padding-right: 28px;
  }
}
@media (min-width: 1920px) {
  #plumbing-splide {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 767px) {
  .plumbing-container-card-img {
    --gap: 0px;
    --cell-h: 34px;
    padding: 6px 10px 6px;
  }
}

.plumbing-link-logo {
  height: var(--cell-h);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
}

.plumbing-logo {
  max-height: calc(var(--cell-h) - 4px);
  max-width: 90%;
  width: auto;
  height: auto;
  object-fit: contain;
  object-position: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .plumbing-container-card-img {
    --cell-h: 48px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .plumbing-container-card-img {
    --cell-h: 60px;
  }
}
@media (min-width: 1440px) {
  .plumbing-container-card-img {
    --cell-h: 66px;
  }
}

img.plumbing-logo[style] {
  width: auto !important;
  height: auto !important;
  max-height: calc(var(--cell-h) - 4px) !important;
  max-width: 90% !important;
  object-fit: contain !important;
}

@media (min-width: 1440px) {
  :root {
    --plumbing-card-w: 350px;
    --plumbing-col-gap: 15px;
  }

  .splide#plumbing-splide .splide__track {
    width: calc(2 * var(--plumbing-card-w) + var(--plumbing-col-gap));
    max-width: none;
    flex: 0 0 auto;
    height: 607px;
  }
}

@media (min-width: 1920px) {
  :root {
    --plumbing-card-w: 390px;
    --plumbing-col-gap: 9px;
  }

  .splide#plumbing-splide .splide__track {
    width: calc(2 * var(--plumbing-card-w) + var(--plumbing-col-gap));
    max-width: none;
    flex: 0 0 auto;
    height: 622px;
  }
}

#plumbing-splide {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.plumbing.splide__slide {
  padding-left: 60px;
}

@media (min-width: 768px) {
  #plumbing-splide .splide__pagination.splide__pagination--ltr {
    margin-right: 15px;
  }
}

@media (min-width: 1024px) {
  #plumbing-splide .splide__pagination.splide__pagination--ltr {
    margin-right: 10px;
  }
}

@media (min-width: 1440px) {
  #plumbing-splide .splide__pagination.splide__pagination--ltr {
    margin-right: 20px;
  }
}

@media (min-width: 1920px) {
  #plumbing-splide .splide__pagination.splide__pagination--ltr {
    margin-right: 50px;
  }
}
