@import url("./base.css");
@import url("./container.css");

@import url("./header.css");
@import url("./hero.css");
@import url("./partner.css");
@import url("./about.css");
@import url("./lamb.css");
@import url("./heating.css");
@import url("./plumbing.css");
@import url("./bathroom.css");
@import url("./equipment.css");
@import url("./company.css");
@import url("./address.css");
@import url("./footer.css");
@import url("./price.css");
@import url("./mobile-menu.css");
