        <section class="about section">
            <div class="container about-container-full">
                <div class="about-container-img">
                    
                    <picture>
                        <source
                        media="(max-width: 767px)"
                        srcset="/image/about/about-390-1x.jpg 1x, /image/about/about-390-2x.jpg 2x"
                        >
                        <source 
                        media="(min-width: 768px) and (max-width: 1023px)" 
                        srcset="/image/about/about-768-1x.jpg 1x, /image/about/about-768-2x.jpg 2x">
                        <source 
                        media="(min-width: 1024px) and (max-width: 1439px)" 
                        srcset="/image/about/about-1024-1x.jpg 1x, /image/about/about-1024-2x.jpg 2x"> 
                        <source 
                        media="(min-width: 1440px) and (max-width: 1919px)" 
                        srcset="/image/about/about-1440-1x.jpg 1x, /image/about/about-1440-2x.jpg 2x"> 
                        <source 
                        media="(min-width: 1920px)" 
                        srcset="/image/about/about-1920-1x.jpg 1x, /image/about/about-1920-2x.jpg 2x">  
                        <img src="/image/about/about.jpg" alt="heating system" class="about-img">
                      </picture>
                </div>
                <div class="about-container">
                    <h2 class="about-title">
                        Nowoczesne rozwiązania w zakresie instalacji grzewczych
                    </h2>
                    <ul class="about-list">
                        <li class="about-item">
                            <p class="about-text about-text-mobile">
                                Oferujemy nowoczesne rozwiązania w zakresie instalacji grzewczych zarówno tych tradycyjnych, jak i współcześnie najbardziej efektywnych i ekologicznych, wykorzystujących odnawialne źródła energii.
                                Jesteśmy gotowi, by wesprzeć Państwa w podjęciu decyzji, co do wyboru systemu oraz technologii wykonania instalacji grzewczej w oparciu o wyroby renomowanych i uznanych na rynku producentów.
                            </p>
                        </li>
                        <li class="about-item">
                            <p class="about-text about-text-bold">
                                Producenci, z którymi współpracujemy, to uznane, nagradzane firmy, gwarantujące wysoką jakość swoich wyrobów, potwierdzoną licznymi certyfikatami.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>