     <section class="company section" id="company">
            <div class="container company-full-container">
                <h2 class="company-title">
                    Firma
                </h2>
                <div class="company-container">
                    <ul class="company-list">
                        <li class="company-item">
                            <svg class="company-icon"
                            width="140"
                            height="140">
                            <use href="/image/icons.svg#icon-person">
                            </use>
                            </svg>
                            <h3 class="company-title-item">
                                Specjaliści w technice
                            </h3>
                            <p class="company-text">
                                Jesteśmy firmą specjalizującą się w sprzedaży techniki grzewczej i instalacji sanitarnych oraz świadczeniu usług montażowych.
                            </p>
                        </li>
                        <li class="company-item">
                            <svg class="company-icon"
                            width="140"
                            height="140">
                            <use href="/image/icons.svg#icon-reward">
                            </use>
                            </svg>
                            <h3 class="company-title-item">
                                Zaufanie i jakość
                            </h3>
                            <p class="company-text">
                                Cechuje nas dbałość o jakość obsługi klienta oraz oferowanych mu produktów i usług.
                            </p>
                        </li>
                        <li class="company-item">
                            <svg class="company-icon"
                            width="140"
                            height="140">
                            <use href="/image/icons.svg#icon-protection">
                            </use>
                            </svg>
                            <h3 class="company-title-item">
                                Niezawodni producenci
                            </h3>
                            <p class="company-text">
                                Współpracujemy z producentami, których wyroby są niezawodne, bezpieczne, energooszczędne i przyjazne dla środowiska.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>