<footer class="footer container" id="footer">
        <div class="footer-logo-all">
            <div class="footer-container-logo">
                <a href="#hero">
                    <img src="./image/footer-logo.png" alt="instal-kra logo" class="footer-img-logo">
                </a>
            </div>
            <div class="footer-container footer-container-map">
                <a href="https://www.google.com/maps/place/Chrysto+Boteva+4A,+30-798+Kraków" 
                target="_blank" 
                rel="noopener noreferrer" class="footer-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.285982989558!2d20.029357667248515!3d50.03751628125115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716448b1d644231%3A0x639f587aae6363b2!2zQ2hyaXN0byBCb3Rld2EgNEEsIDMwLTc5OCBLcmFrw7N3LCDQn9C-0LvRjNGJ0LA!5e0!3m2!1suk!2sde!4v1731880490262!5m2!1suk!2sde"
                    width="600"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                    class="footer-map">
                </iframe>   
                </a>
            </div>
            <div class="footer-container-logo-social">
                <ul class="footer-lists-logo">
                    <li>
                        <a href="https://www.instagram.com/instal__kra" target="_blank">
                            <svg class="footer-icon-logo"
                            width="21"
                            height="21">
                            <use href="./image/icons.svg#icon-instagram">
                            </use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=61570363360237&locale=pl_PL" target="_blank">
                            <svg class="footer-icon-logo"
                            width="21"
                            height="21">
                            <use href="./image/icons.svg#icon-facebook">
                            </use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://t.me/+48535976589" target="_blank">
                            <svg class="footer-icon-logo"
                            width="21"
                            height="21">
                            <use href="./image/icons.svg#icon-telegram">
                            </use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://wa.me/48535976589" target="_blank">
                            <svg class="footer-icon-logo"
                            width="21"
                            height="21">
                            <use href="./image/icons.svg#icon-whats-up">
                            </use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="https://allegro.pl/uzytkownik/Instal-Kra" target="_blank" class="footer-name-link">allegro</a>
        </div>
        <div class="footer-container-contacts">
            <div class="footer-container footer-special-container">
                <div class="footer-container-decorative">
                    <div class="footer-container-main-icon">
                        <svg class="footer-icon footer-call-icon"
                        width="48"
                        height="49">
                        <use href="./image/icons.svg#icon-phone">
                        </use>
                        </svg>
                    </div>
                </div>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="tel:+48883627527" class="footer-link">
                            +48 883 627 527 Radoslaw
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="tel:+48508416093" class="footer-link">
                            +48 508 416 093 Sergii
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-container">
                <svg class="footer-icon"
                width="60"
                height="47">
                <use href="./image/icons.svg#icon-mail">
                </use>
                </svg>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="mailto:biuro@instal-kra.pl" class="footer-link">
                            biuro@instal-kra.pl
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-container-address">
                    <svg class="footer-icon"
                    width="35"
                    height="48">
                    <use href="./image/icons.svg#icon-address">
                    </use>
                    </svg>
                    <ul class="footer-list">
                        <li class="footer-item">
                            <a href="https://www.google.com/maps/place/Instal-Kra+sp.+z+o.o./@50.0384704,20.0287713,16.4z/data=!4m6!3m5!1s0x471645b7b136831b:0xaa65365b6d3d842!8m2!3d50.0378947!4d20.0296013!16s%2Fg%2F11wy21k_vr?entry=ttu&g_ep=EgoyMDI1MDExNS4wIKXMDSoASAFQAw%3D%3D" class="footer-link" target="_blank">
                                ul. Christo Botewa 4A<br> 30-798 Kraków
                            </a>
                        </li>
                    </ul>
            </div>
            <div class="footer-container footer-container-car">
                     <svg class="footer-icon"
                    width="35"
                    height="48">
                    <use href="./image/icons.svg#icon-car">
                    </use>
                    </svg>
                    <p class="footer-text-main">
                        Bezpłatny parking dla naszych klientów
                    </p>
            </div>
        </div>
    </footer>