<header>
  <div class="header-container">
    <nav class="nav">
      <a href="#hero" class="header-logo">
        <svg class="header-logo-icon" width="205.65" height="85.01">
          <use href="/image/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="menu">
        <li class="menu-item">
          <a href="#heating" class="menu-link"> Ogrzewanie </a>
        </li>
        <li class="menu-item">
          <a href="#plumbing" class="menu-link"> Technika sanitarna </a>
        </li>
        <li class="menu-item">
          <a href="#bathroom" class="menu-link"> Łazienki </a>
        </li>
        <li class="menu-item">
          <a href="#equipment" class="menu-link"> Osprzęt </a>
        </li>
        <li class="menu-item">
          <a href="#company" class="menu-link menu-link-company"> o Firmie </a>
        </li>
        <li>
          <button class="menu-link-price" id="priceButton">CENNIKI</button>
        </li>
      </ul>
      <!-- BURGER MENU -->
      <a
        href="tel:+48535976589"
        class="header-addess-link header-addess-link-burger"
      >
        <svg class="header-addess-icon">
          <use href="/image/icons.svg#icon-phone"></use>
        </svg>
      </a>
      <div class="menu-mobile" id="burgerMenu">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="burger-menu" id="mobileMenu">
        <ul class="burger-menu-list">
          <li class="burger-menu-item">
            <a href="#heating" class="burger-menu-link">Ogrzewanie</a>
          </li>
          <li class="burger-menu-item">
            <a href="#plumbing" class="burger-menu-link">Technika sanitarna</a>
          </li>
          <li class="burger-menu-item">
            <a href="#bathroom" class="burger-menu-link">Łazienki</a>
          </li>
          <li class="burger-menu-item">
            <a href="#equipment" class="burger-menu-link">Osprzęt</a>
          </li>
          <li class="burger-menu-item">
            <a href="#company" class="burger-menu-link burger-menu-link-company"
              >o Firmie</a
            >
          </li>
          <li class="burger-menu-item">
            <button id="mobilePriceButton" class="burger-menu-link-button">
              CENNIKI
            </button>
          </li>
        </ul>
        <button
          class="button-change-language-mobile"
          id="translateButtonMobile"
        >
          <ul class="lang-list">
            <li class="item-lang item-lang-pl">
              <img
                src="/image/header/pl.png"
                alt="pl"
                class="image-icon-lang"
              />
            </li>
            <li class="item-lang item-lang-ua">
              <img
                src="/image/header/ua.png"
                alt="ua"
                class="image-icon-lang"
              />
            </li>
          </ul>
        </button>
      </div>
      <!-- PRICE -->
      <div class="menu-price-contaianer" id="popup">
        <div class="menu-price-container-button">
          <button class="button-back-mobile menu-price-button-back">
            <svg class="icon-right-mobile">
              <use
                href="/image/icons.svg#icon-right"
                xlink:href="/image/icons.svg#icon-right"
              ></use>
            </svg>
          </button>
        </div>
        <div class="menu-price-container-price">
          <svg class="menu-price-icon" width="31" height="31">
            <use href="/image/icons.svg#icon-cenniki-1"></use>
          </svg>
          <a href="#" class="menu-link-container-price" id="producers"
            >CENNIKI PRODUCENTÓW</a
          >
        </div>
        <div class="menu-price-container-price">
          <svg class="menu-price-icon" width="31" height="31">
            <use href="/image/icons.svg#icon-cenniki-2"></use>
          </svg>
          <a href="#" class="menu-link-container-price" id="listsPriceButton"
            >Cenniki do pobrania</a
          >
        </div>
      </div>
      <!-- PRICE LISTS -->
      <div class="lists-price-contaianer" id="listsPopup">
        <div class="lists-price-container-back">
          <button class="lists-price-button-back button-back-mobile">
            <svg class="icon-right-mobile icon-right-price">
              <use
                href="/image/icons.svg#icon-right"
                xlink:href="/image/icons.svg#icon-right"
              ></use>
            </svg>
          </button>
        </div>
        <div class="menu-price-container-icon">
          <svg class="menu-price-icon" width="31" height="31">
            <use href="/image/icons.svg#icon-cenniki-1"></use>
          </svg>
          <span class="menu-header-span-price">CENNIKI PRODUCENTÓW</span>
        </div>
        <ul class="list-lists-price">
          <li class="item-lists-price">
            <a
              href="https://agaflex.pl/do-pobrania/"
              target="_blank"
              class="lists-price-link"
              >AGAflex</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://salus.afriso.pl/"
              target="_blank"
              class="lists-price-link"
              >Afriso</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://wodtech.pl/manufacturer/aquaform"
              target="_blank"
              class="lists-price-link"
              >Aquaform</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://d7rh5s3nxmpy4.cloudfront.net/CMP2974/files/DCT-00007_Tarifas_Polonia_Cennik_ARCO_2024.pdf"
              target="_blank"
              class="lists-price-link"
              >Arco</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://groupe-atlantic.pl/pobierz/"
              target="_blank"
              class="lists-price-link"
              >Atlantic</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.biawar.com.pl/materialy-do-pobrania/"
              target="_blank"
              class="lists-price-link"
              >Biawar</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.buderus.com/pl/pl/wsparcie/cennik/"
              target="_blank"
              class="lists-price-link"
              >Buderus</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.caleffi.com/"
              target="_blank"
              class="lists-price-link"
              >Caleffi</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://sklep-cedor.pl/"
              target="_blank"
              class="lists-price-link"
              >Ced'or</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://dedietrich.pl/cenniki/"
              target="_blank"
              class="lists-price-link"
              >De Dietrich</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://deante.pl/pc21/_MARKETING/CENNIK/Bazowe_ceny_hurtowe_DEANTE.pdf"
              target="_blank"
              class="lists-price-link"
              >Deante</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.defro.pl/katalogi-i-cenniki/"
              target="_blank"
              class="lists-price-link"
              >Defro</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.delfin-polska.pl/?ed=download&guid=whxfvd-phcmno-zxbtpg-jfwcad-teodwx--equftv-ftempi-rwmnlf-potybh-awsgqm"
              target="_blank"
              class="lists-price-link"
              >Delfin</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.ekon.com.pl/pliki-do-pobrania"
              target="_blank"
              class="lists-price-link"
              >Ekon</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.elektromet.com.pl/"
              target="_blank"
              class="lists-price-link"
              >Elektromet</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://elitameble.pl/do_pobrania/3/katalog/"
              target="_blank"
              class="lists-price-link"
              >Elita</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://cennik.enix.pl/ENIX_cennik.pdf"
              target="_blank"
              class="lists-price-link"
              >Enix</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://euroster.pl/cennik.pdf"
              target="_blank"
              class="lists-price-link"
              >Euroster</a
            >
          </li>
          <li class="item-lists-price">
            <a>
              href="https:/ferro.pl/dokumentacja/ulotki-i-katalogi/"
              target="_blank" class="lists-price-link" Ferro
            </a>
          </li>

          <li class="item-lists-price">
            <a
              href="https://www.fondital.com/pl/PL/"
              target="_blank"
              class="lists-price-link"
              >Fondital</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.franke.com/pl/pl/home-solutions/produkty/zlewozmywaki-kuchenne.html"
              target="_blank"
              class="lists-price-link"
              >Franke</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.geberit.pl/wsparcie-i-serwis/centrum-pobierania/?filter=filter2%3ACennik&page=1"
              target="_blank"
              class="lists-price-link"
              >Geberit</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://gorgiel.pl/sites/default/files/pliki/cennik_grzejniki_2024-11_www.pdf"
              target="_blank"
              class="lists-price-link"
              >Gorgiel</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://product-selection.grundfos.com/pl/price-list"
              target="_blank"
              class="lists-price-link"
              >Grundfos</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.hansgrohe.pl/serwis/broszury-i-prospekty"
              target="_blank"
              class="lists-price-link"
              >Hansgrohe</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://heatpex.pl/do-pobrania/"
              target="_blank"
              class="lists-price-link"
              >Heatpex</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://heiztechnik.pl/do-pobrania-pl/cenniki/"
              target="_blank"
              class="lists-price-link"
              >Heiztechnik</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://herz.com.pl/wp-content/uploads/2024/10/HERZ_katalog-produktow-2024.pdf"
              target="_blank"
              class="lists-price-link"
              >Herz</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://niezawodny.pl/baza-wiedzy/do-pobrania"
              target="_blank"
              class="lists-price-link"
              >Instal-Projekt</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.bosch-homecomfort.com/pl/pl/budynki-mieszkalne/wsparcie/cennik/"
              target="_blank"
              class="lists-price-link"
              >Junkers</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.kermi.com/pl/pl/ogrzewanie-pomieszczen/do-pobrania/dokumenty-i-zdjecia/wszystkie-materialy-do-pobrania?selection=type_pricelist"
              target="_blank"
              class="lists-price-link"
              >Kermi</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://kisan.pl/do-pobrania/cenniki/"
              target="_blank"
              class="lists-price-link"
              >Kisan</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.klimosz.pl/cenniki/cennik_klimosz_pl__01_01_2024.pdf"
              target="_blank"
              class="lists-price-link"
              >Klimosz</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.kludi.com/pl/o-produkcie/prospekty-cenniki-filmy/prospekty/"
              target="_blank"
              class="lists-price-link"
              >Kludi</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://kospel.pl/info/katalog-z-cennikiem.html"
              target="_blank"
              class="lists-price-link"
              >Kospel</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.kolo.com.pl/_assets/local-media/katalogi/2024-pl-kolo.pdf"
              target="_blank"
              class="lists-price-link"
              >Koło</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.lfp.com.pl/info/cennik"
              target="_blank"
              class="lists-price-link"
              >LFP</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.logo-tools.pl/pliki-do-pobrania"
              target="_blank"
              class="lists-price-link"
              >Logo Tools</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://luxor2.pl/userdata/public/assets/PDF%20standardowy%202024%20%E2%80%93%20LUXOR.pdf"
              target="_blank"
              class="lists-price-link"
              >Luxor Koronowo</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://mkzary.pl/do-pobrania/"
              target="_blank"
              class="lists-price-link"
              >MK</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://magnaplast.pl/materialy#cenniki"
              target="_blank"
              class="lists-price-link"
              >MagnaPlast</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://mcalpineplumbing.com/downloads/"
              target="_blank"
              class="lists-price-link"
              >McAlpine</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://meibes.by/o-kompanii/meibes/"
              target="_blank"
              class="lists-price-link"
              >Meibes</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="http://www.ogniwobiecz.pl/"
              target="_blank"
              class="lists-price-link"
              >Ogniwo</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://online.fliphtml5.com/tcaly/iunj/#p=1"
              target="_blank"
              class="lists-price-link"
              >Omnigena</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.oventrop.com/pl-PL/oferta/katalogprodukt%c3%b3w"
              target="_blank"
              class="lists-price-link"
              >Oventrop</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.aircon.panasonic.eu/PL_pl/downloads/catalogues-and-leaflets/"
              target="_blank"
              class="lists-price-link"
              >Panasonic</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.jung-pumpen.de/pl/download?tx_jpdownloads_pi1%5Baction%5D=list&tx_jpdownloads_pi1%5Bcontroller%5D=Download&tx_jpdownloads_pi1%5BdownloadCategory%5D=7&cHash=c790ce1bfc7a08716ff9c869978839b2"
              target="_blank"
              class="lists-price-link"
              >Pentair</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://heyzine.com/flip-book/25f1747928.html?utm_source=www&utm_medium=katalog2024-2025&utm_campaign=katalog+online#page/27"
              target="_blank"
              class="lists-price-link"
              >Radaway</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.roca.pl/produkty/katalogi-pobrania"
              target="_blank"
              class="lists-price-link"
              >Roca</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.roth-polska.com/"
              target="_blank"
              class="lists-price-link"
              >Roth</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://rothenberger.com/pl-pl/pliki-do-pobrania/katalogi-i-broszury"
              target="_blank"
              class="lists-price-link"
              >Rothenberger</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.sas.busko.pl/pl/do-pobrania/category/7-katalogi-i-cenniki"
              target="_blank"
              class="lists-price-link"
              >SAS</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.sfasaniflo.com/img/cms/USA/PDFs/JAW2024_US_WEB_SINGLE.pdf"
              target="_blank"
              class="lists-price-link"
              >SFA</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://salus.afriso.pl/"
              target="_blank"
              class="lists-price-link"
              >Salus Controls</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.ronalbathrooms.com/pl_PL/pobierz#group_pricelist"
              target="_blank"
              class="lists-price-link"
              >SanSwiss</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.sanha.com/pl/Planowanie-Montaz/Downloads/Cennik-broszury-i-foldery/"
              target="_blank"
              class="lists-price-link"
              >Sanha</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://sanplast.pl/do-pobrania"
              target="_blank"
              class="lists-price-link"
              >Sanplast</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.schell.eu/pl-pl/serwis/pobierz/broszury-temp-2023/"
              target="_blank"
              class="lists-price-link"
              >Schell</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://schlosser.com.pl/cenniki-pliki-do-pobrania/"
              target="_blank"
              class="lists-price-link"
              >Schlosser</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.sigmali.pl/wp-content/uploads/2024/10/Sigma-Li-cennik-katalogowy-Update-10.10.24.pdf"
              target="_blank"
              class="lists-price-link"
              >Sigma-Li</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://stalmark-assets.fra1.digitaloceanspaces.com/Cennik_2024_14_10_2024_7f8c39927c.pdf"
              target="_blank"
              class="lists-price-link"
              >Stalmark</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.stiebel-eltron.pl/pl/serwis/pliki-do-pobrania.html"
              target="_blank"
              class="lists-price-link"
              >Stiebel Eltron</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.tece.com/pl/do-pobrania-tece/do-pobrania/cenniki"
              target="_blank"
              class="lists-price-link"
              >TECE</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://Wilo.com/pl/pl/Narz%C4%99dzia/Cenniki-i-dokumentacja-techniczna/Cennik-online/"
              target="_blank"
              class="lists-price-link"
              >Tech</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.teklakotly.pl/media/transfer/doc/cennik_06_2024_a5_min.pdf"
              target="_blank"
              class="lists-price-link"
              >Tekla</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.termet.com.pl/"
              target="_blank"
              class="lists-price-link"
              >Termet</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://thermaflex.com/downloads-pl/?lang=pl"
              target="_blank"
              class="lists-price-link"
              >Thermaflex</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.tweetop.pl/do-pobrania/"
              target="_blank"
              class="lists-price-link"
              >Tweetop</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.uponor.com/pl-pl/instalacje/katalog"
              target="_blank"
              class="lists-price-link"
              >Uponor</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.vaillant.pl/"
              target="_blank"
              class="lists-price-link"
              >Vaillant</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.viega.pl/pl/produkty/catalog_start.html"
              target="_blank"
              class="lists-price-link"
              >Viega</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.viessmann.pl/pl/cennik.html"
              target="_blank"
              class="lists-price-link"
              >Viessmann</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.werit.eu/pl/serwis/centrum-pobierania/"
              target="_blank"
              class="lists-price-link"
              >Werit</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://Wilo.com/pl/pl/Narz%C4%99dzia/Cenniki-i-dokumentacja-techniczna/Cennik-online/"
              target="_blank"
              class="lists-price-link"
              >Wilo</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://www.wolf.eu/pl-pl/dla-profesjonalistow/pobierz/technika-grzewcza#toc2"
              target="_blank"
              class="lists-price-link"
              >Wolf</a
            >
          </li>
        </ul>
      </div>
      <!-- PRICE LISTS PDF-->
      <div class="lists-price-contaianer-do" id="listsPricePopup">
        <div class="lists-price-container-back">
          <button
            id="backToPopupFromListsPrice"
            class="lists-price-button-back button-back-mobile"
          >
            <svg class="icon-right-mobile icon-right-price">
              <use
                href="/image/icons.svg#icon-right"
                xlink:href="/image/icons.svg#icon-right"
              ></use>
            </svg>
          </button>
        </div>
        <div class="menu-price-container-icon">
          <svg class="menu-price-icon" width="31" height="31">
            <use href="/image/icons.svg#icon-cenniki-2"></use>
          </svg>
          <span class="menu-header-span-price">Cenniki do pobrania</span>
        </div>
        <ul class="list-lists-price">
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/1l_zyZn5T9ljNaV_fn_1kySWqCXfnwB9H/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >Atlantic</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://docs.google.com/spreadsheets/d/1VPIHrKPODyoKweH_US2zidbqIdrewcH7/edit?usp=sharing&ouid=100959591386977700064&rtpof=true&sd=true"
              target="_blank"
              class="lists-price-link"
              >Biawar</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/1nYnfafvDNzUcmLoNwCCxCD9cwSAHZCc5/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >Elita</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/1PSeZBHFT9ctWAkgUGfPKlF7cVSfFe7MF/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >Gorgiel</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/1LVX0vQBJ8X89GRMKPmnjRTYrLDaHjZVP/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >Kermi (grzejniki łazienkowe)</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/1SxXCkOd7W3BQjJHbG8HCM8tpPEsU47z4/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >Kermi (grzejniki płytowe)</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/16gEym1mdnnEJfRDjKK7kGkkeXniXtU7e/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >Kospel</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/1d23r4YQMt7vjNmW_EACcpZFhZJHFSwEM/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >MagnaPlast</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/1Q7jyBvJ-iJQS4H9-l8DwPZ6EF4UE2TPx/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >Salus Controls</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/1lM99kHC_pt0jh81tFsLPWpfPpqwhGELy/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >Panasonic</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/1km34Hnsly95GI6E7empjY5DkpCzrBIhL/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >Stalmark</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/1O3XdQrEfTCHN3UHxdIzHKdnkj9reC2bt/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >Tweetop</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/1p0bV83_5WMAIILm833PHEq_-qRUyGAIl/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >Viessmann (fotowoltaika)</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/1KZVEkcgXCxCxZHC1yMPDsAmrYOLpjb1S/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >Viessmann</a
            >
          </li>
          <li class="item-lists-price">
            <a
              href="https://drive.google.com/file/d/150999molVdy2MXUYfFO86SpJDTVOEhEI/view?usp=sharing"
              target="_blank"
              class="lists-price-link"
              >Wolf</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <address class="header-address">
      <div class="header-container-address">
        <ul class="header-addess-list">
          <li class="header-addess-item">
            <a
              href="tel:+48535976589"
              class="header-addess-link"
              target="_blank"
            >
              <svg class="header-addess-icon" width="31" height="31">
                <use href="/image/icons.svg#icon-phone"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a href="tel:+48883627527" class="address-link"> +48 883 627 527 </a>
      </div>
    </address>
    <button class="button-change-language" id="translateButton">
      <ul class="lang-list">
        <li class="item-lang item-lang-pl">
          <img src="/image/header/pl.png" alt="pl" class="image-icon-lang" />PL
        </li>
        <li class="item-lang item-lang-ua">
          <img src="/image/header/ua.png" alt="ua" class="image-icon-lang" />UA
        </li>
      </ul>
    </button>
  </div>
</header>
