<section
  class="heating section heating-decor"
  id="heating"
  role="region"
  aria-label="Ogrzewanie"
>
  <div class="container heating-container-full">
    <div class="heating-container-carusel">
      <div class="heating-container">
        <button
          class="button-left heating-button-left"
          id="heating-button-left"
          type="button"
          aria-label="Poprzednie"
          aria-controls="heating-track"
        >
          <svg class="left-icon" width="20" height="20">
            <use
              href="/image/icons.svg#icon-left"
              xlink:href="/image/icons.svg#icon-left"
            ></use>
          </svg>
        </button>

        <div
          class="heating-viewport splide"
          id="heating-splide"
          aria-live="polite"
        >
          <div class="splide__track">
            <ul class="heating-track splide__list" id="heating-track">
              <noscript>
                <li class="heating-slide splide__slide">
                  <article class="heating-card">
                    <div class="heating-container-card-img">
                      <a
                        href="https://www.vaillant.pl/"
                        class="heating-link-logo"
                        target="_blank"
                        rel="noopener"
                      >
                        <img
                          src="/image/heating/vaillant.png"
                          alt="vaillant"
                          class="heating-logo"
                          width="108"
                          height="38"
                        />
                      </a>
                    </div>
                    <div class="heating-container-carusel-text">
                      <h3 class="heating-card-title">Kotły gazowe</h3>
                    </div>
                  </article>
                </li>
              </noscript>
            </ul>
          </div>
        </div>

        <button
          class="button-right heating-button-right"
          id="heating-button-right"
          type="button"
          aria-label="Następne"
          aria-controls="heating-track"
        >
          <svg class="right-icon" width="20" height="20">
            <use
              href="/image/icons.svg#icon-right"
              xlink:href="/image/icons.svg#icon-right"
            ></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="heating-container-text">
      <h2 class="heating-title">Ogrzewanie</h2>
      <p class="heating-text">
        Nowoczesne systemy grzewcze dla każdego rodzaju budynku. Zapewniamy
        efektywne i oszczędne rozwiązania dostosowane do potrzeb każdego
        klienta.
      </p>
    </div>
  </div>
</section>
