<section class="section hero hero-decor" id="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      sprzedaż hurtowa i detaliczna technika grzewcza, sanitarna, wentylacja,
      klimatyzacja
    </h1>
    <ul class="hero-list">
      <li class="hero-item">
        <p class="hero-text">
          Jesteśmy prężnie działającą firmą, która zajmuje się sprzedażą hurtową
          i detaliczną w dziedzinie techniki grzewczej i instalacji sanitarnych.
          Świadczymy również usługi instalacyjno-montażowe w wyżej wymienionym
          zakresie.
        </p>
      </li>
      <li class="hero-item">
        <p class="hero-text">
          Cechuje nas dbałość o jakość obsługi klienta oraz oferowanych mu
          produktów i usług. Współpracujemy z producentami, których wyroby są
          niezawodne,bezpieczne, energooszczędne i przyjazne dla środowiska.
        </p>
      </li>
    </ul>
    <div class="hero-container-button">
      <a href="#footer" class="hero-button-link">
        <button id="scrollToFooter" class="hero-button hero-button-decor">
          Skontaktuj się z nami
        </button>
      </a>
    </div>
  </div>
</section>
