        <section class="lamb section">
            <div class="container lamb-container">
                <div class="lamd-container-logo">
                    <picture>
                        <source
                        srcset="/image/lamb/lamborghini-1920-1x.png 1x, /image/lamb/lamborghini-1920-2x.png 2x">
                        <img src="/image/lamb/lamborghini-1920-1x.png" alt="lamborghini" class="lamb-logo">
                      </picture>
                </div>
                <div class="lamb-container-main">
                    <div class="lamb-container-text">
                        <h2 class="lamb-title">
                            Legendarna marka w twoim domu!
                        </h2>
                        <p class="lamb-text">
                            Zakup możliwy na korzystnych warunkach, z profesjonalnym wsparciem i sprawną realizacją.
                        </p>
                        <a href="#footer" class="">
                            <button id="scrollToFooter" class="hero-button lamb-button">
                                Skontaktuj się z nami
                            </button>
                        </a>
                    </div>
                    <div class="lamb-container-img">
                         <picture>
                        <source
                        media="(max-width: 767px)"
                        srcset="/image/lamb/konditioner-390-1x.png 1x, /image/lamb/konditioner-390-2x.png 2x"
                        >
                        <source 
                        media="(min-width: 768px) and (max-width: 1023px)" 
                        srcset="/image/lamb/konditioner-768-1x.png 1x, /image/lamb/konditioner-768-2x.png 2x">
                        <source 
                        media="(min-width: 1024px) and (max-width: 1439px)" 
                        srcset="/image/lamb/konditioner-1024-1x.png 1x, /image/lamb/konditioner-1024-2x.png 2x"> 
                        <source 
                        media="(min-width: 1440px) and (max-width: 1919px)" 
                        srcset="/image/lamb/konditioner-1440-1x.png 1x, /image/lamb/konditioner-1440-2x.png 2x"> 
                        <source 
                        media="(min-width: 1920px)" 
                        srcset="/image/lamb/konditioner-1920-1x.png 1x, /image/lamb/konditioner-1920-2x.png 2x">  
                        <img src="/image/lamb/konditioner.png" alt="lamb" class="lamb-img">
                      </picture>
                    </div>
                </div>
            </div>
        </section>