<section class="partner section">
  <div class="partner-container-color container">
    <div class="partner-container">
      <h3 class="partner-title partners">
        Rozwój technologii informacyjnych i komunikacyjnych u naszych partnerów,
        firmy INSTAL-KA SP. Z O.O. SP. K.
      </h3>
      <ul class="partner-list">
        <li class="partner-item">
          <p class="partner-text">Unia Europejska</p>
          <img
            src="/image/partner/europa.png"
            alt="europa"
            width="48"
            height="auto"
            class="partner-icon"
          />
        </li>
        <li class="partner-item">
          <p class="partner-text">Fundusze Europejskie Program Regionalny</p>
          <img
            src="/image/partner/regional_program.png"
            alt="Program Regionalny"
            width="35"
            height="auto"
            class="partner-icon"
          />
        </li>
        <li class="partner-item">
          <p class="partner-text">OPOLSKIE</p>
          <img
            src="/image/partner/opolskie.png"
            alt="opolskie"
            width="30"
            height="auto"
            class="partner-icon"
          />
        </li>
        <li class="partner-item">
          <p class="partner-text">Rzeczpospolita Polska</p>
          <img
            src="/image/partner/poland.jpg"
            alt="poland"
            width="48"
            height="auto"
            class="partner-icon"
          />
        </li>
        <li class="partner-item">
          <p class="partner-text">Opolske dla Rodziny</p>
          <img
            src="/image/partner/opolskie_for_family.png"
            alt="opolskie for family"
            width="28"
            height="auto"
            class="partner-icon"
          />
        </li>
      </ul>
    </div>
    <div class="partner-container">
      <h3 class="partner-title loyality-program">
        uczestniczymy w programie lojalnościowym naszego partnera firmy
        INSTAL-KA Sp. z o.o. GRUPA SBS Sp.k.
      </h3>
      <ul class="partner-list-img">
        <li class="partner-item-img">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                /image/partner/integris1-390-1x.jpg 1x,
                /image/partner/integris1-390-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px) and (max-width: 1023px)"
              srcset="
                /image/partner/integris1-768-1x.jpg 1x,
                /image/partner/integris1-768-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px) and (max-width: 1439px)"
              srcset="
                /image/partner/integris1-1024-1x.jpg 1x,
                /image/partner/integris1-1024-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1440px) and (max-width: 1919px)"
              srcset="
                /image/partner/integris1-1440-1x.jpg 1x,
                /image/partner/integris1-1440-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1920px)"
              srcset="
                /image/partner/integris1-1920-1x.jpg 1x,
                /image/partner/integris1-1920-2x.jpg 2x
              "
            />
            <img
              src="/image/partner/integris1-1920-1x.jpg"
              alt="lojalty program"
              class="partner-img"
              width="263"
              height="auto"
            />
          </picture>
        </li>
        <li class="partner-item-img">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                /image/partner/integris-2024-390-1x.jpg 1x,
                /image/partner/integris-2024-390-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px) and (max-width: 1023px)"
              srcset="
                /image/partner/integris-2024-768-1x.jpg 1x,
                /image/partner/integris-2024-768-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px) and (max-width: 1439px)"
              srcset="
                /image/partner/integris-2024-1024-1x.jpg 1x,
                /image/partner/integris-2024-1024-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1440px) and (max-width: 1919px)"
              srcset="
                /image/partner/integris-2024-1440-1x.jpg 1x,
                /image/partner/integris-2024-1440-2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1920px)"
              srcset="
                /image/partner/integris-2024-1920-1x.jpg 1x,
                /image/partner/integris-2024-1920-2x.jpg 2x
              "
            />
            <img
              src="/image/partner/integris-2024-1920-1x.jpg"
              alt="integris+"
              class="partner-img partner-img-second"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
